* {
  box-sizing: border-box; }

body,
ul,
li,
a,
h1,
h2,
h3,
h4,
p,
input,
button {
  outline: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Roboto", Ubuntu, Cantarell, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px; }

.header {
  display: flex;
  flex-direction: column;
  background: url("../img/header_background_v1.jpg") center/cover;
  height: 100vh; }
  .header__top {
    display: flex;
    justify-content: space-between; }
  .header__logo {
    width: 230px;
    height: 150px; }
  .header__offer {
    margin: auto;
    position: relative;
    bottom: 100px;
    text-align: center; }
    .header__offer__title {
      color: #fff;
      text-transform: uppercase; }
    .header__offer__btn {
      width: 190px;
      height: 40px;
      border: none;
      background-color: #4ca9ab;
      color: white;
      text-transform: uppercase;
      cursor: pointer;
      position: relative;
      top: 30px;
      transition: background-color 0.3s, box-shadow 0.3s;
      padding: 15px 60px; }
      .header__offer__btn:hover {
        background-color: #337072;
        box-shadow: 0 0 10px rgba(39, 77, 77, 0.81); }

.nav {
  display: flex;
  flex-direction: row;
  width: 50%; }
  .nav__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px; }
  .nav__item {
    position: relative;
    width: 33%;
    text-align: center; }
    .nav__item::after {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      left: 0;
      bottom: -5px;
      background-color: #fff;
      transition: width 0.3s; }
    .nav__item:hover::after {
      width: 100%; }
  .nav__link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 70px;
    font-weight: 500; }
  .nav::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: #fff;
    left: 0;
    bottom: -6px;
    transition: width 0.3s; }
  .nav:hover::after {
    width: 100px; }

.main {
  margin: 30px auto;
  width: 1000px; }
  .main__toolbar {
    text-align: end; }
  .main__search {
    padding: 5px 10px; }

.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; }

.post {
  display: flex;
  padding: 15px;
  background-color: #efefef;
  margin-bottom: 30px; }
  .post:last-child {
    margin-bottom: 0; }
  .post__main {
    display: flex;
    flex-direction: column;
    margin: 10px; }
  .post__details {
    color: #d62e21;
    position: relative; }
    .post__details::after {
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      bottom: -10px;
      left: 0;
      background-color: #a0acb2; }
  .post__title {
    margin-top: 20px;
    color: #4295a5;
    text-transform: uppercase; }
  .post__text {
    margin-top: 5px; }
  .post__btn-more {
    width: 190px;
    height: 40px;
    border: none;
    background-color: #4ca9ab;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 20px;
    margin-left: auto;
    transition: background-color 0.3s, box-shadow 0.3s; }
    .post__btn-more:hover {
      background-color: #337072;
      box-shadow: 0 0 10px rgba(39, 77, 77, 0.81); }

.about {
  margin-top: 30px; }
  .about__photo {
    width: 100%;
    margin-top: 20px; }

.contact {
  margin-top: 30px; }
  .contact__subheader {
    text-align: end;
    font-weight: 400; }

.form {
  display: flex;
  flex-direction: column; }
  .form__contacts {
    display: flex;
    margin-top: 20px; }
  .form__name-block {
    width: 50%;
    margin-right: 10px; }
  .form__email-block {
    width: 50%; }
  .form__question-block {
    margin-top: 20px; }
  .form__holder {
    text-align: end;
    margin-bottom: 5px;
    color: #54a1c1;
    font-weight: 300; }
  .form__name, .form__email, .form__message {
    width: 100%;
    height: 50px;
    padding-left: 10px; }
  .form__message {
    resize: none;
    height: 150px;
    padding-top: 5px; }
  .form__send-btn {
    width: 190px;
    height: 40px;
    border: none;
    background-color: #4ca9ab;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 20px;
    align-self: flex-end;
    transition: background-color 0.3s, box-shadow 0.3s; }
    .form__send-btn:hover {
      background-color: #337072;
      box-shadow: 0 0 10px rgba(39, 77, 77, 0.81); }

.title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  text-align: end;
  align-self: flex-end; }

.footer {
  margin-top: 30px;
  text-align: center; }
