// colors
$buttonColor: rgb(76, 169, 171);
$buttonColorHovered: rgb(51, 112, 114);
$postBgColor: rgb(239, 239, 239);
$headerTextColor: #fff;
$formHolderColor: rgb(84, 161, 193);

// general
$spaceBetweenSection: 30px;
$spaceInsideSection: 20px;
$transitionTime: 0.3s;
$rightSidePositioning: end;


// font styles
$font: Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$normalFontSize: 15px;
$headersFontSize: 24px;